@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center" class="display-4">Welcome</h1>
<div>
    <div id="demo" class="carousel slide mx-auto" style="width: 500px; height: 500px;" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://pictures.topspeed.com/IMG/crop/201903/2020-tesla-model-y-v-5-2_800x0w.jpg" style="width:500px;height:500px;" alt="Tesla">
            </div>
            <div class="carousel-item">
                <img src="https://www.coches.com/fotos_historicas/audi/A4/high_8dab0e21c344388919b5589e2558220c.jpg" style="width:500px;height:500px;" alt="Audi">
            </div>
            <div class="carousel-item">
                <img src="https://tko.news/wp-content/uploads/2019/09/dsc_2250-copy.jpg" style="width:500px;height:500px;" alt="KIA">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.motor1.com/images/mgl/2ozqx/s1/renault-tribe-lead-image.jpg" style="width:500px;height:500px;" alt="Renault">
            </div>
            <div class="carousel-item">
                <img src="https://images.dealer.com/ddc/vehicles/2019/Ford/Edge/SUV/trim_SEL_bc334e/perspective/front-left/2019_76.png?impolicy=resize&w=640" style="width:500px;height:500px;" alt="Ford">
            </div>
            <div class="carousel-item">
                <img src="https://drealfmgrenada.com/wp-content/uploads/2019/06/About-ALO-Car-Rentals.jpg" style="width:500px;height:500px;" alt="Cars">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
